.loader-wrapper{
    width:100vw;
    height:100vh;

    background:#050505;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.loader-text{

    width:fit-content;

    font-size:clamp(60px,10vw,140px);

    font-family:
        "Inter",
        sans-serif;

    font-weight:900;

    text-transform:uppercase;

    color:#0000;

    -webkit-text-stroke:2px #ffffff;

    background:
        radial-gradient(
            0.71em at 50% 1em,
            #ffffff 99%,
            transparent 101%
        )
        calc(50% - 1em)
        1em/2em 200%
        repeat-x
        text,

        radial-gradient(
            0.71em at 50% -0.5em,
            transparent 99%,
            #ffffff 101%
        )
        50%
        1.5em/2em
        200%
        repeat-x
        text;

    animation:
        waveX .8s linear infinite alternate,
        waveY 4s linear infinite;
}

.loading-percent{

    color:#9A9A9A;

    margin-top:25px;

    font-size:14px;

    letter-spacing:3px;

    text-transform:uppercase;
}

@keyframes waveX{

    to{
        background-position-x:
            50%,
            calc(50% + 1em);
    }
}

@keyframes waveY{

    to{
        background-position-y:
            -.5em,
            0;
    }
}